 
Secret_Album.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Secret_Album.xcodeproj/project.xcworkspace/xcuserdata/mariaderkach.xcuserdatad/UserInterfaceState.xcuserstate
Secret_Album.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Secret_Album.xcodeproj/xcuserdata/mariaderkach.xcuserdatad/xcschemes/xcschememanagement.plist
